spring:
  application:
    name: ticketvelo

  # Database Configuration
  datasource:
    url: jdbc:postgresql://localhost:5432/ticketvelo_db
    username: admin
    password: password123
    driver-class-name: org.postgresql.Driver

  # JPA Settings
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  data:
    redis:
      host: localhost
      port: 6379

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: "ticketvelo-group"
      auto-offset-reset: earliest
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer